Repository waldo-vision/waldo, pull requests merged in 2023-03, with the labels that each got.

#94 Remove typescript ignore from next config
  apps/web/next.config.js
Labels: frontend

#108 feat(upstash): removed
  apps/web/.env.example
  apps/web/package.json
  apps/web/server/trpc/trpc.ts
  apps/web/server/utils/rateLimitService.ts
  turbo.json
  yarn.lock
Labels: frontend, infrastructure

#119 docs(prisma): env file
  docs/src/pages/en/getting-started.md
Labels: documentation

#123 updated/disabled google login element
  apps/web/pages/auth/login.tsx
Labels: frontend

#124 ci: general updates
  .github/dependabot.yml
  .github/workflows/docs.yml
  .github/workflows/pr.yml
Labels: infrastructure, ci

#126 ci: update templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Labels: infrastructure, ci

#125 docs: update readme
  README.md
  docs/src/config.ts
  docs/src/pages/en/getting-started.md
Labels: documentation

#127 feat(security): improve general security of the website
  apps/backend/src/controllers/clip.controller.ts
  apps/backend/src/controllers/discord.controller.ts
  apps/backend/src/controllers/footage.controller.ts
  apps/backend/src/routes/discord.route.ts
  apps/web/components/AccGameplayItemExtended.tsx
  apps/web/components/AccGameplayItems.tsx
  apps/web/components/TurnstileWidget.tsx
  apps/web/components/account/AccountGameplayItem.tsx
  apps/web/components/account/DeleteAccModal.tsx
  apps/web/components/dashboard/Sidebar.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/account.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/dash/gameplay.tsx
  apps/web/pages/dash/status.tsx
  apps/web/pages/dash/users.tsx
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  apps/web/server/trpc/router/clip.ts
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/site.ts
  apps/web/server/trpc/router/user.ts
  apps/web/server/trpc/router/util.ts
  apps/web/utils/sanitize.ts
  docs/src/components/RightSidebar/ThemeToggleButton.css
  docs/src/layouts/MainLayout.astro
  packages/database/Dockerfile
  packages/database/entrypoint.sh
  packages/database/package.json
  packages/database/prisma/migrations/20230320163556_m3d20/migration.sql
  packages/database/prisma/migrations/20230321204222_track_update_times/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/prisma/seed.ts
  yarn.lock
Labels: documentation, frontend, infrastructure, dependencies

#153 fix(discord): invite link
  apps/web/next.config.js
Labels: frontend

#154 pin alpine version
  apps/web/Dockerfile
  packages/database/Dockerfile
Labels: frontend, infrastructure

#157 fixed sign in issue
  apps/web/pages/api/auth/[...nextauth].ts
Labels: frontend

#158 (hopefully) fixed provider issues
  apps/web/pages/api/auth/[...nextauth].ts
  package.json
  yarn.lock
Labels: frontend, dependencies

#159 disable turnstile stuff for now
  apps/web/pages/api/auth/[...nextauth].ts
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  apps/web/server/trpc/router/gameplay.ts
Labels: frontend

#162 fix(web/account): account connected typo
  apps/web/pages/account.tsx
Labels: frontend

#161 V1/patches
  apps/web/components/Navbar.tsx
  apps/web/components/account/AccountGameplayItem.tsx
  apps/web/pages/account.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/dash/gameplay.tsx
  apps/web/pages/dash/users.tsx
  apps/web/pages/index.tsx
  apps/web/server/trpc/router/site.ts
Labels: frontend

#164 feat(web): add turnstile site key on docker build
  .github/workflows/release.yml
  apps/web/Dockerfile
Labels: frontend, infrastructure, ci

#165 style(web): fix eslint errors
  apps/web/pages/account.tsx
  apps/web/pages/api/auth/[...nextauth].ts
  apps/web/pages/dash/gameplay.tsx
  apps/web/pages/dash/users.tsx
  apps/web/pages/submissions/review.tsx
Labels: frontend

#163 fix(web): infinite loading on account deletion
  apps/web/components/account/DeleteAccModal.tsx
Labels: frontend

#166 add nonce to csp for cf turnstile
  apps/web/next.config.js
  apps/web/pages/submissions/upload.tsx
Labels: frontend

#167 refactor(web): update wording on index
  apps/web/pages/index.tsx
  docs/src/config.ts
  docs/src/pages/en/faq.md
Labels: documentation, frontend

#168 add debug stuff for prod testing
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  apps/web/server/trpc/router/util.ts
  apps/web/utils/helpers/apiHelper.ts
Labels: frontend

#169 more debugging
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/util.ts
Labels: frontend

#170 attempt another fix
  apps/web/server/trpc/router/gameplay.ts
Labels: frontend

#171 (hopefully) fixed turnstile
  apps/web/components/TurnstileWidget.tsx
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/util.ts
Labels: frontend

#172 remove checks on first endpoint from the flow
  apps/web/server/trpc/router/gameplay.ts
Labels: frontend

#173 fix attempt at review & ts bug
  apps/web/components/TurnstileWidget.tsx
  apps/web/package.json
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  yarn.lock
Labels: frontend, dependencies

#175 fix non-existent type
  apps/web/components/TurnstileWidget.tsx
Labels: frontend

#184 Attempting ts fix (again)
  apps/web/components/TurnstileWidget.tsx
  apps/web/pages/submissions/review.tsx
Labels: frontend

#178 Fixed typo found by Big_Funky
  apps/web/components/BlacklistedModal.tsx
Labels: frontend

#189 fix(web/auth): battle.net authentication provider
  apps/web/auth-providers/battlenet.ts
  apps/web/pages/api/auth/[...nextauth].ts
  apps/web/public/battle_net.png
  apps/web/tsconfig.json
Labels: frontend

#190 enable google oauth and rollback commits.
  apps/web/components/TurnstileWidget.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/submissions/review.tsx
Labels: frontend

#191 feat(web/dashboard): blur email addresses in the dashboard
  apps/web/pages/dash/users.tsx
  apps/web/styles/dash/Users.module.css
Labels: frontend

#193 Update getting-started.md
  docs/src/pages/en/getting-started.md
Labels: documentation

#194 fixed typo: changed started to start
  docs/src/pages/en/getting-started.md
Labels: documentation

#195 Update review.tsx
  apps/web/pages/submissions/review.tsx
Labels: frontend

#197 ci: run ci on pr branch, not master
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Labels: infrastructure, ci

#198 docs: fix getting started page
  docs/src/pages/en/getting-started.md
Labels: documentation
