Repository waldo-vision/waldo, pull requests merged in 2023-01, with the labels that each got.

#78 fix(docs): readme contributor agreement link
  CONTRIBUTING.md
  README.md
Labels: documentation

#84 fix(web): static assets in container
  apps/web/Dockerfile
Labels: frontend

#83 Docs
  README.md
  apps/web/components/Footer.tsx
  apps/web/components/Navbar.tsx
  apps/web/components/dashboard/Sidebar.tsx
  apps/web/components/dashboard/status/WaldoSite.tsx
  apps/web/pages/account.tsx
  apps/web/pages/auth/login.tsx
  apps/web/pages/index.tsx
  apps/web/pages/submissions/index.tsx
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  apps/web/server/trpc/router/site.ts
  apps/web/server/utils/hasPerms.ts
  docs/astro.config.mjs
  docs/package.json
  docs/public/robots.txt
  docs/src/components/HeadSEO.astro
  docs/src/config.ts
  docs/src/layouts/MainLayout.astro
  docs/src/pages/404.md
  docs/src/pages/en/getting-started.md
  docs/src/pages/en/introduction.md
  docs/src/pages/en/working-in-monorepo.md
  docs/src/pages/legal/code-of-conduct.md
  docs/src/pages/legal/cookie-policy.md
  docs/src/pages/legal/index.md
  docs/src/pages/legal/privacy-policy.md
  docs/src/pages/legal/terms-of-service.md
  yarn.lock
Labels: documentation, frontend

#85 general fixes for docs and website
  .dockerignore
  .gitattributes
  apps/web/Dockerfile
  apps/web/components/Footer.tsx
  apps/web/pages/_app.tsx
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.ico
  docs/public/robots.txt
Labels: documentation, frontend

#91 Fix punctuation
  apps/web/pages/index.tsx
Labels: frontend
