Repository waldo-vision/waldo, pull requests merged in 2023-04, with the labels that each got.

#202 Feat suggestions
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  apps/web/server/trpc/router/gameplay.ts
  apps/web/utils/zod/gameplay.ts
  packages/database/prisma/schema.prisma
Labels: frontend

#200 perf: improve queries on common items
  packages/database/package.json
  packages/database/prisma/migrations/20230331214617_better_indexing/migration.sql
  packages/database/prisma/schema.prisma
  yarn.lock
Labels: dependencies

#203 bump prisma version; create new migration (a1d1)
  packages/database/package.json
  packages/database/prisma/migrations/20230401161319_a1d1/migration.sql
  yarn.lock
Labels: dependencies

#199 feat(web/games): add Counter Strike 2 / Rework Adding Games
  apps/web/config/gameplay.ts
  apps/web/pages/dash/gameplay.tsx
  apps/web/pages/submissions/review.tsx
  apps/web/pages/submissions/upload.tsx
  apps/web/server/trpc/router/gameplay.ts
  apps/web/tsconfig.json
  apps/web/types/global.d.ts
Labels: frontend

#205 Added more info about running & Windows Database
  docs/src/pages/en/getting-started.md
Labels: documentation

#222 fix(database): migrate should fail on errors
  docker-compose.test.yml
  packages/database/Dockerfile
  packages/database/entrypoint.sh
Labels: infrastructure

#223 build(web): upgrade next auth and nextjs
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/account.tsx
  apps/web/pages/dash/gameplay.tsx
  apps/web/pages/dash/status.tsx
  apps/web/pages/dash/users.tsx
  apps/web/server/trpc/context.ts
  yarn.lock
Labels: frontend, dependencies

#224 feat(web): add plausible
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  docs/src/layouts/MainLayout.astro
  yarn.lock
Labels: documentation, frontend, dependencies

#227 ci/release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  docs/src/pages/en/working-in-monorepo.md
Labels: documentation, enhancement, infrastructure, ci

#248 ci(drafter): mark dependabot prs as maintenance
  .github/release-drafter.yml
Labels: infrastructure, ci

#250 Fixed chakra dependency & failing build
  apps/web/package.json
  apps/web/pages/submissions/upload.tsx
  yarn.lock
Labels: bug, frontend, dependencies

#251 ci(release): v1 instead of 1 as docker tag
  .github/workflows/release.yml
Labels: infrastructure, github_actions, ci

#252 feat(web): very basic sentry implementation
  .github/workflows/release.yml
  .gitignore
  apps/web/contexts/SiteContext.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_error.js
  apps/web/sentry.client.config.js
  apps/web/sentry.edge.config.js
  apps/web/sentry.server.config.js
  turbo.json
  yarn.lock
Labels: enhancement, frontend, infrastructure, dependencies, ci, minor

#253 ci(release): fix sentry release
  .github/workflows/release.yml
Labels: infrastructure, ci

#254 ci(release): REALLY move to v1 formating
  .github/workflows/release.yml
Labels: infrastructure, ci

#256 Fullscreenable embed on rewiev page & wide monitor min width
  apps/web/pages/submissions/review.tsx
Labels: frontend

#255 Fixed Clip Review breaking on invalid user image
  apps/web/next.config.js
  apps/web/pages/submissions/review.tsx
Labels: frontend

#273 Added simple OpenGraph tags to main site for better embeds on link sharing
  apps/web/pages/index.tsx
Labels: frontend

#276 Added forced game selection for video submission
  apps/web/pages/submissions/upload.tsx
Labels: enhancement, frontend

#257 docs: update local dev server README
  apps/web/.env.example
  apps/web/README.md
  docker-compose.yml
  docs/src/pages/en/getting-started.md
  packages/database/.env.example
Labels: documentation, frontend, infrastructure

#279 fix: refresh gameplay clips after deletion
  apps/web/pages/dash/gameplay.tsx
Labels: bug, frontend

#282 attempt to fix gameplay deletion errors
  apps/web/server/trpc/router/gameplay.ts
  packages/database/prisma/migrations/20230417221847_m4d17/migration.sql
  packages/database/prisma/schema.prisma
Labels: frontend

#278 feat(web): vastly improved monitoring
  apps/web/components/account/AccountGameplayItem.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/account.tsx
  apps/web/pages/api/auth/[...nextauth].ts
  apps/web/pages/api/trpc/[trpc].ts
  apps/web/pages/submissions/upload.tsx
  apps/web/sentry.client.config.js
  apps/web/sentry.edge.config.js
  apps/web/sentry.server.config.js
  apps/web/server/db/client.ts
  apps/web/server/trpc/router/clip.ts
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/site.ts
  apps/web/server/trpc/router/user.ts
  apps/web/server/trpc/trpc.ts
  apps/web/server/utils/apiHelper.ts
  yarn.lock
Labels: frontend, dependencies

#284 Removed double import for sentry to fix failing build
  apps/web/server/trpc/router/gameplay.ts
Labels: bug, frontend

#286 Analysis/endpoints
  apps/web/pages/account.tsx
  apps/web/pages/dash/gameplay.tsx
  apps/web/pages/dash/users.tsx
  apps/web/pages/portal/developers/apikeys.tsx
  apps/web/server/trpc/context.ts
  apps/web/server/trpc/router/_app.ts
  apps/web/server/trpc/router/analysisApi.ts
  apps/web/server/trpc/router/apikeys.ts
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/user.ts
  apps/web/server/trpc/trpc.ts
  apps/web/server/utils/apiHelper.ts
  apps/web/utils/zod/analysis.ts
  apps/web/utils/zod/gameplay.ts
  packages/database/prisma/migrations/20230417235326_2023m4d17apikeyfix/migration.sql
  packages/database/prisma/schema.prisma
Labels: frontend

#288 Added header parsing & keychecking to link retrieval api
  apps/web/server/trpc/trpc.ts
Labels: bug, frontend

#285 build(web): remove redundant sentry items
  apps/web/package.json
  apps/web/pages/api/auth/[...nextauth].ts
  apps/web/server/db/client.ts
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/site.ts
  apps/web/server/trpc/trpc.ts
  yarn.lock
Labels: frontend, dependencies, chore

#289 fix(plausible): improper subdirectory
  apps/web/next.config.js
Labels: bug, frontend

#291 build(openapi): remove from web workspace
  apps/web/package.json
  apps/web/pages/api/[...trpc].ts
  apps/web/pages/api/openapi.json.ts
  apps/web/server/trpc/openapi.ts
  apps/web/server/trpc/trpc.ts
  yarn.lock
Labels: bug, frontend, dependencies

#292 build(web): slim down deps & increase monitoring around review
  apps/web/package.json
  apps/web/server/trpc/router/apikeys.ts
  apps/web/server/trpc/router/clip.ts
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/util.ts
  package.json
  packages/database/package.json
  packages/eslint-config-custom/package.json
  yarn.lock
Labels: frontend, dependencies

#287 feat: implement automated integration tests for tRPC API
  .github/workflows/ci.yml
  apps/web/.env.example
  apps/web/README.md
  apps/web/server/trpc/context.ts
  apps/web/server/trpc/router/clip.ts
  apps/web/server/trpc/router/gameplay.ts
  apps/web/server/trpc/router/user.ts
  apps/web/server/utils/fakeAuth.ts
  apps/web/utils/zod/clip.ts
  docs/src/pages/en/getting-started.md
  packages/eslint-config-custom/index.js
  packages/tests/.env.example
  packages/tests/README.md
  packages/tests/integration/clips.ts
  packages/tests/integration/gameplay.ts
  packages/tests/integration/index.test.ts
  packages/tests/integration/users.ts
  packages/tests/jest.config.js
  packages/tests/package.json
  packages/tests/utils/db.ts
  packages/tests/utils/trpc.ts
  packages/tests/utils/users.ts
  turbo.json
  yarn.lock
Labels: documentation, enhancement, frontend, backend, infrastructure, dependencies, ci

#293 fix: downgrade nextjs version to 13.2.4
  apps/web/package.json
  yarn.lock
Labels: bug, frontend, dependencies

#294 fix(web): plausible use default proxy options
  apps/web/next.config.js
Labels: bug, frontend

#295 Revert: build(openapi): remove from web workspace
  apps/web/package.json
  apps/web/pages/api/[...trpc].ts
  apps/web/pages/api/openapi.json.ts
  apps/web/server/trpc/openapi.ts
  apps/web/server/trpc/trpc.ts
  yarn.lock
Labels: bug, frontend, critical, dependencies

#297 Added yarn branch shortcut to fix branching version mismatches
  docs/src/pages/en/getting-started.md
  package.json
Labels: documentation, dependencies

#315 Removed API link for USER role in Account page & Trusted can now create API keys
  apps/web/pages/account.tsx
  apps/web/pages/portal/developers/apikeys.tsx
Labels: frontend

#316 Fix link api percentage limit inverted bug & Database vote query count error
  apps/web/server/trpc/router/analysisApi.ts
Labels: frontend

#332 fix(plausible): set custom domain
  apps/web/next.config.js
Labels: bug, frontend

#335 Type turnstile ref
  apps/web/components/TurnstileWidget.tsx
Labels: frontend
